services:
  import:
    build:
      context: .
    image: ${REPO:-public.ecr.aws/sidgs}/sidgs-apigee-migrate-tool
    environment:
      - name=value
      - NODE_TLS_REJECT_UNAUTHORIZED=1
    command: "node_modules/.bin/grunt exportDevs -v "
    volumes:
      - ./data:/app/data 
    

